.card-title{
    font-weight: bold;
    text-decoration-line: underline;
    color: #181818;
}

.card-text{
    font-weight: 400;
    color: #181818;
}

.card{
    background-color: #F2F2F2;
}

.clima-actions{
    float: right;
    padding-right: 5px;
    padding-bottom: 5px;
}

.del {
    background-color: white;
}